<head>
<link type="text/css" rel="stylesheet" href="/navbar.css">

<style>
  #draggable { 
    width: 150px; height: 150px; padding:0.5em; 
  }
  </style>
</head> 

<div id="main_menu" class="ui-widget-content" style="position: fixed; left: 30.859375px; right: 5%; top: 350.296875px;">
      <nav>
        <ul class="main">

          <li>
            <%= link_to '/Actionable®', :root %>
          </li>

          <% Issue.all.each do |c| %>
            <li class="snavitem <%= is_active?(issue_path(c)) %>">
            <%= link_to "" + c.topic, issue_path(c) %>
          <% end %>
            </li>
          <li>
            <a href="javascript:;">/get in touch</a>
          </li>

        </ul>
      </nav>
    </div>