<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to "Actionable", defined?(root_path) ? root_path : "#", class: "navbar-brand" %>
  </div>

<ul class="nav nav-pills" role="tablist">
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Issue <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
 <% Issue.all.each do |c| %>
  <li class="snavitem <%= is_active?(issue_path(c)) %>">
    <%= link_to "" + c.topic, issue_path(c) %>
  </li>
 <% end %>
    </ul>
  </li>
</ul>
  
</nav>