<p class="lead">Today's Content on <%= @issue.topic %></p>

<% @articleurl = @issue.articles.collect(&:article_url) %>
<%= @articleurl[0] %>

</br>
</br>

<% @projecturl = @issue.projects.collect(&:project_url) %>

<%= @projecturl[0] %>