<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/welcome.css">
		<link rel='http://fonts.googleapis.com/css?family=Titillium+Web:300, 500' rel='stylesheet' type='text/css'>
		<link rel='http://fonts.googleapis.com/css?family=Rockwell' rel='stylesheet' type='text/css'>
	</head>

	<body>
		<div id="jumbotron" class="jumbotron">
			<div class="container">
				<h1 id="logo">/Actionable:</h1>
				<h1 id="intro">Connecting News You Care About</h1>
				<h3 id="intro2">To Projects You Can Help</h3>
			</div>
		</div>
		
		<!-- THIS IS THE FOOTER -->
		
			<div id="foot" class="col-md-12">
				<div id="padding" class="col-md-12"></div>
				
				<h2 id="quote">"All that is necessary for the triumph of evil is that good men do nothing."</h2>
				<h2 id="quote"> -Edmund Burke</h2>
				</br>
				</br>
				<p id="foot-contact"><a href="mailto:chansd5@gmail.com?Subject=Hello%20Actionable" target="_top">Get In Touch</a></p>
				<p id="foot-logo">/Actionable. 2015.</p>
			</div>
	</body>
</html>