<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/welcome.css">
		<link href='http://fonts.googleapis.com/css?family=Titillium+Web:300, 500' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Rockwell' rel='stylesheet' type='text/css'>
	</head>

	<body>
		<div id="jumbotron" class="jumbotron">
			<div class="container">
				<h1 id="logo">/Actionable:</h1>
				<h1 id="intro">Connecting News You Care About</h1>
				<h3 id="intro2">To The Projects That Help</h3>
			</div>
		</div>
		
	</body>
</html>