<h1>A Cause You Care About</h1>

<%= form_for @issue do |f| %>
	<%= f.select("article", "issue_id", Issue.all.collect {|i| [i.topic]}, {include_blank: true}) %>
	<%= f.submit nil %>
	<% link_to 'Issues', issues_path %>
<% end %>





<!-- 

"<select id=\"article_issue_id\" name=\"article[issue_id]\"><option value=\"\"></option>\n<option value=\"Climate Change\">Climate Change</option></select>" 

-->