html {
	background-color: #666666;
}


.jumbotron {
	margin-bottom: 0px;
    background-position: 35% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    height: 700px;
}   

#jumbotron > .container {
	height: 700px;
  	line-height: 500px;
	text-align: center;
}

#photocredit {
	display: inline-block;
	color: white;
	vertical-align: middle;
}

#issue {
	display: inline-block;
  	vertical-align: middle;
  	line-height: normal;
  	font-family: 'Titillium Web', Helvetica, sans-serif;
  	color: white;
  	text-shadow: 3px 3px #000000; 
  	font-weight: 500;
}

#jumbo-text-background {
	background-color: #666666;
	opacity: 1;
	height: auto;
 	background: absolute;
}

#jumbo-text > h2 {
	color: #999999;
}

#jumbo-text-background > #jumbo-text {
	text-align: center;
}

#jumbo-text-background > #jumbo-text > .issue {
	font-family: 'Titillium Web', Helvetica, sans-serif;
	font-style: bold;
	color: orange;
}

#jumbo-text-background > #jumbo-text > .title {
	font-family: 'Titillium Web', Helvetica, sans-serif; 
	font-size: 42px;
	color: white;
}

#jumbo-text-background > #jumbo-text > .publication {
	font-family: 'Titillium Web', Helvetica, sans-serif; 
	font-size: 14px;
	color: black;
}

#jumbo-text-background > #jumbo-text > .article-text {
	font-family: 'Titillium Web', Helvetica, sans-serif; 
	font-size: 24px;
	color: white;
}

#jumbo-text-background > #jumbo-text > .article-date {
	font-family: 'Titillium Web', Helvetica, sans-serif; 
	font-size: 10px;
	color: grey;
}

#article-text {
	font-family: 'Titillium Web', Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 400;
}

#article-date {
	font-family: 'Titillium Web', Helvetica, sans-serif;
	font-size: 14px;
	color: black;
}

#projectthumb {
	max-width: 400px;
}

#articlethumb {
	position: center;
	max-width: 600px;
}

#articlebutton {
	font-family: 'Titillium Web', Helvetica, sans-serif;
}

#actionable-background {
	background-color: black;
	height: 200px;
	text-align: center;
}

#actionable-today {
	font-family: 'Titillium Web', Helvetica, sans-serif;
	font-size: 52px;
	color: grey;
}

#issue-project{
	background-color: #333333;
	height: auto;
 	background: absolute;
 	text-align: center;
 	color: white;
}

#project-text {
	font-family: 'Titillium Web', Helvetica, sans-serif;
}


#project-title {
	font-family: 'Titillium Web', Helvetica, sans-serif;
	font-size: 36px;
	color: white;
}

#project-org {
	font-family: 'Titillium Web', Helvetica, sans-serif;
	font-size: 24px;
	color: white;
}

#project-text {
	font-family: 'Titillium Web', Helvetica, sans-serif;
	font-size: 24px;
}