#jumbo {
	margin-bottom: 0px;
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    height: 700px;
}

#jumbo > .row > #jumbo-text-background {
	background-color: black;
	opacity: 0.85;
	height: auto;
 	background: absolute;
  	left: 275px;
  	right: 20px;
  	position: absolute;
  	top: 10px;
}

#jumbo > .row > #jumbo-text-background > #jumbo-text > .issue {
	font: 12px Arial;
	font-style: bold;
	color: orange;
}

#jumbo > .row > #jumbo-text-background > #jumbo-text > .title {
	font-family: Impact; 
	font-size: 24px;
	color: white;
}

#jumbo > .row > #jumbo-text-background > #jumbo-text > .publication {
	font-family: Times;
	font-size: 12px;
	color: grey;
}

#jumbo > .row > #jumbo-text-background > #jumbo-text > .article-text {
	font-family: Arial;
	font-size: 14px;
}

#jumbo > .row > #jumbo-text-background > #jumbo-text > .article-date {
	font-family: Arial;
	font-size: 10px;
}

#article-text {
	font-family: Georgia;
	font-size: 12px;
}

#article-date {
	font-family: Georgia;
	font-size: 14px;
}

#main-page-wrapper {
	position: absolute;
	left: 275px;
}

#thumb {
	background-size: 100px 80px;
}

