html {
	background-color: #666666;
}

body {
	font-family: 'Titillium Web', Helvetica, sans-serif;
}

#jumbotron > .container {
	height: 900px;
  	line-height: 700px;
	text-align: center;
}


#photocredit {
	font-family: 'Titillium Web', Helvetica, sans-serif;
	font-size: 12px;
	color: grey;
	text-align: right;
}

#issue {
	display: inline-block;
  	vertical-align: middle;
  	line-height: normal;
  	font-family: 'Titillium Web', Helvetica, sans-serif;
  	color: white;
  	text-shadow: 3px 3px #000000; 
  	font-weight: 500;
}

#jumbo-text-background {
	background-color: #666666;
	opacity: 1;
	height: auto;
 	background: absolute;
}

#jumbo-text > h2 {
	color: #CCCCCC;
}

#jumbo-text-background > #jumbo-text {
	text-align: center;
}

#jumbo-text-background > #jumbo-text > .issue {
	font-family: 'Titillium Web', Helvetica, sans-serif;
	font-style: bold;
	color: orange;
}

#jumbo-text-background > #jumbo-text > .title {
	font-family: 'Titillium Web', Helvetica, sans-serif; 
	font-size: 42px;
	color: white;
}

#jumbo-text-background > #jumbo-text > .publication {
	font-family: 'Titillium Web', Helvetica, sans-serif; 
	font-size: 14px;
	color: black;
}

#jumbo-text-background > #jumbo-text > .article-text {
	font-family: 'Titillium Web', Helvetica, sans-serif; 
	font-size: 24px;
	color: white;
}

#jumbo-text-background > #jumbo-text > .article-date {
	font-family: 'Titillium Web', Helvetica, sans-serif; 
	font-size: 10px;
	color: grey;
}

#article-text {
	font-family: 'Titillium Web', Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 400;
}

#article-date {
	font-family: 'Titillium Web', Helvetica, sans-serif;
	font-size: 14px;
	color: black;
}

#projectthumb {
	max-width: 400px;
}

#articlethumb {
	position: center;
	max-width: 600px;
}

#articlebutton {
	font-family: 'Titillium Web', Helvetica, sans-serif;
}

#actionable-background {
	background-color: black;
	height: 200px;
	text-align: center;
}

#actionable-today {
	font-family: 'Titillium Web', Helvetica, sans-serif;
	font-size: 52px;
	color: grey;
}




#project-facts-section {
	background-color: #666666;
	height: auto;
}

#facts-container {
	background-color: white;
	color: black;
	height: 450px;
	border-style: outset;
    border-width: 5px;
    border-color: #666666;
}

#factnum {
	font-family: 'Rockwell', Helvetica, sans-serif;
	font-size: 60px;
	color: orange;
	font-weight: 700;
	line-height: 90%;
}

#facttext {
	font-family: 'Rockwell', Helvetica, sans-serif;
	font-size: 20px;
	color: black;
	font-weight: 500;
	line-height: 95%;
	font-style: bold;
}

#factnum2 {
	font-family: 'Rockwell', Helvetica, sans-serif;
	font-size: 60px;
	color: orange;
	font-weight: 700;
	line-height: 90%;
}

#facttext2 {
	font-family: 'Rockwell', Helvetica, sans-serif;
	font-size: 20px;
	color: black;
	font-weight: 500;
	line-height: 95%;
	font-style: bold;
}

#factsource {
	font-family: 'Rockwell', Helvetica, sans-serif;
	font-size: 10px;
	color: black;
}

#project-padding {
	height: 100px;
	background-color: #666666;
}



#issue-project {
	background-color: #333333;
	height: auto;
 	background: absolute;
 	text-align: center;
 	color: white;
}

#projecttype {
	font-family: 'Titillium Web', Helvetica, sans-serif;
	font-size: 28px;
	color: grey;
}

#project-text {
	font-family: 'Titillium Web', Helvetica, sans-serif;
}


#project-title {
	font-family: 'Titillium Web', Helvetica, sans-serif;
	font-size: 36px;
	color: white;
}

#project-org {
	font-family: 'Titillium Web', Helvetica, sans-serif;
	font-size: 24px;
	color: grey;
}

#project-text {
	font-family: 'Titillium Web', Helvetica, sans-serif;
	font-size: 24px;
}

#projectbutton {
	font-size: 28px;
}


#foot {
	background-color: #222222;
	height: 325px;
}

#padding {
	height: 50px;
}

#quote {
	font-family: 'Rockwell', Helvetica, sans-serif;
	font-size: 24px;
	color: grey;
	text-align: center;
}

#foot-logo {
	font-family: 'Titillium Web', Helvetica, sans-serif;
	font-size: 16px;
	color: #333333;
	text-align: center;
}

#foot-contact {
	font-family: 'Titillium Web', Helvetica, sans-serif;
	font-size: 18px;
	color: #333333;
	text-align: center;
}