// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	font-family: 'Titillium Web', Helvetica, sans-serif;
}

.jumbotron {
	background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("http://i.imgur.com/IprJIhQ.jpg") no-repeat left center fixed;
    background-position: 35% -1%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #222222;
    height: 900px;
}   

#jumbotron > .container {
	height: 900px;
	text-align: center;

}

#logo {
	font-family: 'Titillium Web', Helvetica, sans-serif; 
	font-size: 56px;
	color: white;
	text-align: right;
	text-shadow: 3px 3px #000000; 
}

#intro {
	font-family: 'Titillium Web', sans-serif; 
	font-size: 24px;
	color: white;
	text-align: right;
}

#intro2 {
	font-family: 'Titillium Web', sans-serif;
	font-size: 32px;
	color: white;
	text-align: right;
}

#foot {
	background-color: #222222;
	height: 325px;
}

#padding {
	height: 50px;
}

#quote {
	font-family: 'Rockwell', Helvetica, sans-serif;
	font-size: 24px;
	color: grey;
	text-align: center;
}

#foot-logo {
	font-family: 'Titillium Web', Helvetica, sans-serif;
	font-size: 16px;
	color: #333333;
	text-align: center;
}

#foot-contact {
	font-family: 'Titillium Web', Helvetica, sans-serif;
	font-size: 18px;
	color: #333333;
	text-align: center;
}